---
layout: default
---

<div class="home">

  <div id="index-grid" class="work-index">
    {% for work in site.work %}
      {% for image in work.images %}
        <div class="work">
          <a class="work-link" href="{{ work.url }}">
            <img src="img/{{ image.thumb }}">
          </a>

          <div class="work-preview">
            <div class="preview-meta">
              <h1>{{ work.title }}</h1>
            </div>
            <div class="preview-img">
              <img class="lazy" data-original="img/{{ image.name }}">
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

</div>