---
layout: default
---

<div class="home">

  <div id="index-grid" class="work-index" data-columns>
    {% for work in site.work %}
      <div class="work">
        <a class="post-link" href="{{ work.url }}">
          {% for image in work.images limit:1 %}
            <img src="img/{{ image.thumb }}">
          {% endfor %}
        </a>

        <div class="work-preview">
          <div class="preview-meta">
            <h1>{{ work.title }}</h1>
          </div>
          <div class="preview-img">
            {% for image in work.images limit:1 %}
              <img class="lazy" data-original="img/{{ image.name }}">
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>