/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


/**
 * Headings
 */
 h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
 }

h1 {
  font-size: 52px;
  letter-spacing: -.025em;

  @include media-query($on-laptop) {
    font-size: 34px;
  }
}

h2 {
  font-size: 32px;

  @include media-query($on-laptop) {
    font-size: 28px;
  }
}

h3 {
  font-size: 26px;

  @include media-query($on-laptop) {
    font-size: 22px;
  }
}

h4 {
  font-size: 20px;

  @include media-query($on-laptop) {
    font-size: 18px;
  }
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}