---
layout: default
---
<div class="inner">

  <header class="work-header">
    <h1 class="work-title">{{ page.title }}</h1>
    {{ content }}
    <p>&copy; {{ page.year }}</p>
  </header>

  <div id="single-grid">
    {% for image in page.images %}
      <div><img src="/img/{{ image.name }}"></div>
    {% endfor %}
  </div>

  {% for work in site.work %}
    {% if page.title == work.title %}
      {% assign next = site.work[forloop.index] %}
      {% if forloop.last %}
        {% assign next = site.work[0] %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <a href="{{ site.baseurl }}{{ next.url }}" class="next">next</a>

</div>
